@charset "UTF-8";

@media screen and (min-width: 600px) {

    body {
        display: flex;
        background-color: #191816;
        position: relative;
        
    }

    #logotg {
        display: block;
        position: absolute;
        top: 40px;
        left: 40px;
      }

    main {
        display: flex;
        flex-direction: column;
        width: 572px;
        height: 512px;
        background-color: #24221F;
        align-items: center;
        justify-content: center;
        margin: 194px 74px;
        padding: 20px 70px;
    }

    header > img {
        display: none;
    }

    #lembrar {
        display: flex;
        justify-content: space-between;
        gap: 100px;
    }

    picture {
        display: block;
    }

   
}